<ion-content [fullscreen]="true">
  <div class="flex justify-between items-center p-4 text-3xl lg:w-3/5 lg:m-auto">
    <ion-icon name="chevron-back-outline" (click)="back()"></ion-icon>
    <div class="w-full text-2xl font-bold"><span (click)="back()">Profile</span></div>
  </div>


  <div class="px-4 flex flex-col justify-center items-center">
    <ion-avatar class=" w-40 h-40 rounded-none">
      <img alt="Silhouette of a person's head" [src]="profileData.picture.large" />
    </ion-avatar>
    <ion-badge class="bg-clr p-2 rounded-full mt-2 text-black text-base text-center"> Upload photo </ion-badge>
  </div>
  <div class="border m-4 p-3 border-black rounded-md">
    <div class="flex justify-between items-center"> <span class="text-black text-2xl font-semibold">About</span> <span>
    <ion-badge class="bg-clr p-2 rounded-full mt-2 text-black">Edit</ion-badge>

    </span></div>
    <div class="flex flex-col justify-center items-start ">
      <span class="text-gray-700 font-semibold text-base">Your Name</span>
      <span class="text-black font-semibold text-xl">{{profileData.name.first}} {{profileData.name.last}}</span>

      <span class="text-gray-700 font-semibold text-base mt-2">Email</span>
      <span class="text-black font-semibold text-xl">{{profileData.email}}</span>

      <span class="text-gray-700 font-semibold text-base mt-2">Phone No</span>
      <span
          class="text-black font-semibold text-xl">{{profileData.cell}}</span>
       
      <span class="text-gray-700 font-semibold text-base mt-2">Date of birth</span>
      <span
          class="text-black font-semibold text-xl">{{profileData.dob.date|date}}</span>
        
    </div>
  </div>
  <div class="border m-4 p-3 border-black rounded-md">
    <div class="flex justify-between items-center"> <span class="text-black text-2xl font-semibold">Address</span> <span>
    <ion-badge class="bg-clr p-2 rounded-full mt-2 text-black">Edit</ion-badge>

    </span></div>
    <div class="flex flex-col justify-center items-start ">
      <span class="text-gray-700 font-semibold text-base">Street</span>
      <span class="text-black font-semibold text-xl">{{profileData.location.street.number}} {{profileData.location.street.name}}</span>

      <span class="text-gray-700 font-semibold text-base mt-2">City</span>
      <span class="text-black font-semibold text-xl">{{profileData.location.city}}</span>

      <span class="text-gray-700 font-semibold text-base mt-2">postcode</span>
      <span
          class="text-black font-semibold text-xl">{{profileData.location.postcode}}</span>
      <span class="text-gray-700 font-semibold text-base mt-2">State</span>
      <span
          class="text-black font-semibold text-xl">{{profileData.location.state}}</span>
          <span class="text-gray-700 font-semibold text-base mt-2">Country</span>
          <span
              class="text-black font-semibold text-xl">{{profileData.location.country}}</span>
        
    </div>
  </div>
  <ion-button  class="w-full px-4 pb-4 text-lg text-black custom-btn normal-case" expand="block" (click)="signOut()"><ion-icon name="log-out-outline"></ion-icon> Sign Out</ion-button>
</ion-content>
