<div class="flex flex-col justify-end items-center bg-img bg-cover bg-no-repeat h-full w-full">

  <div class="flex flex-col justify-center items-start mb-5 w-4/5">
    <span class="text-clr text-sm font-semibold mb-3">WELCOME</span>
    <span class="text-5xl font-bold mb-3">Remotely.io</span>
    <span class="text-lg ">We serve you with the best gadgets for your home workspace.</span>
  </div>

  <ion-button  class="w-4/5 text-lg text-black custom-btn normal-case" expand="block" (click)="goToRegister()">Register</ion-button>
  <ion-button fill="clear"  class="text-white w-1/2 text-lg normal-case mb-8" (click)="goToLogin()">Log In</ion-button>
</div>
