<ion-content [fullscreen]="true">
  <div class="px-5 py-4 lg:w-3/5 lg:m-auto" >
    <div class="flex justify-between items-center">
      <ion-avatar class=" w-12 h-12" (click)="routeToProfile()">
        <img alt="Silhouette of a person's head"
          [src]="imgSourse" />
      </ion-avatar>
      <div class="flex w-1/4 justify-around ">
        <ion-button fill="clear" class="border border-black rounded-full w-12 h-12 rounded-btn text-black" (click)="routeToSearch()">
          <ion-icon slot="icon-only" name="search-outline" class=""></ion-icon>
        </ion-button>
        <ion-button fill="clear" class="border border-black rounded-full w-12 h-12 text-black" (click)="routeToCart()">
          
          <ion-icon slot="icon-only" name="cart-outline" class=""></ion-icon>
          <ion-badge color="primary text-black p-1" *ngIf="shop.cartData.length" >{{shop.cartData.length}}</ion-badge>
        </ion-button>

      </div>
    </div>

  </div>
  <div class="px-5 mt-6 lg:w-3/5 lg:m-auto">
    <span class="text-2xl text-black font-bold">Populer now</span>
    <ion-card class="bg-black rounded-3xl w-full m-0 mt-5">
      <ion-card-content class="flex w-full items-center justify-between">
        <div class="flex flex-col w-full p-1 z-10">
          <div class="text-white text-2xl font-bold">Adjustable Office Chair</div>
          <div class=" pt-3">workspace essetials</div>
          <div class="pt-4">
            <div>
              <ion-button class="text-lg text-black btn normal-case" (click)="routeToProduct(0)">View Item</ion-button>
            </div>
          </div>
        </div>
        <div class="w-2/3"><img class="w-full h-full" src="../../assets/pngwing.com (1).png" alt=""></div>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="px-5 mt-6 lg:w-3/5 lg:m-auto">
    <span class="text-2xl text-black font-bold">Catagory</span>
    <div class="flex justify-between overflow-x-scroll hideScroll">
      <div *ngFor="let cata of catagory" (click)="goToAllProduct(cata)">
        <ion-card class="bg-gray-100 h-40 w-40 rounded-xl">
          <ion-card-content class="h-full">
            <div class="flex flex-col h-full justify-around items-center text-center">
              <img [src]="getSrc(cata)" class="w-20 h-20" alt="">
              <div class="text-lg font-bold text-black ">
                {{cata|titlecase}}
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
  <div class="px-5 mt-6 lg:w-3/5 lg:m-auto">
    <span class="text-2xl text-black font-bold">New arrivals</span>
    <div class="border border-gray-500 flex p-4 my-5 rounded-xl" *ngFor="let arrival of newArrivals" (click)="routeToProduct(arrival.id)">

      <div class="w-1/3 rounded-lg flex justify-center items-center mr-4">
        <img [src]="arrival.image" class="w-40 max-80" [alt]="arrival.category">
      </div>
      <div class="flex flex-col justify-between items-start w-2/3">
        <div class="font-semibold text-lg">{{arrival.title | titlecase | slice:0:25}}...</div>
        <div class="font-medium text-gray-500 flex justify-between w-4/5 items-center">
          <div>{{arrival.category|titlecase}}</div>&#8226; <div>{{arrival.rating.rate}} <ion-icon name="star"
              class="text-yellow-600 text-sm"></ion-icon>
          </div>
        </div>
        <div class="text-lg font-medium text-red-900 pt-3">
          ${{arrival.price}}
        </div>
      </div>

    </div>
  </div>
  <div class="px-5 mt-6 lg:w-3/5 lg:m-auto">
    <span class="text-2xl text-black font-bold">Electronics</span>
    <div class="flex justify-between overflow-x-scroll hideScroll">
      <div *ngFor="let elec of electrodata" (click)="routeToProduct(elec.id)">
        <ion-card class="bg-gray-100 h-auto w-40 rounded-md">
          <ion-card-content class="h-80 flex flex-col justify-between items-center px-2 py-2">
            <div class="bg-white w-full rounded-lg flex justify-center items-center  p-2">
              <img [src]="elec.image" class="w-11/12 h-auto" alt="">
            </div>
            <div class="font-semibold text-base text-center">{{elec.title | titlecase | slice:0:25}}</div>
            <div class="text-lg font-medium text-center text-red-900 py-2 w-full">
              USD {{elec.price}}
            </div>
            <div class="text-gray-500  w-full text-right flex justify-between items-center"><div>{{elec.rating.rate}} <ion-icon name="star"
              class="text-yellow-600 text-sm"></ion-icon></div>
              <div>
                {{elec.rating.count}} Ratings
              </div>
          </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
