.rounded-btn button{
    padding: 0;
}
.btn-p0{
    button{
        padding: 0;
    }
}
.btn{
    --border-radius: 8px;
    --padding-top: 0.75rem;
    --padding-bottom: 0.75rem;
    
}
.hideScroll::-webkit-scrollbar{
    width: 0;
}
.mt-6{
    margin-top: 1.5rem!important;
}
ion-badge {
    position: absolute; 
    font-size: 10pt;
    right: -16px;
    top: -3px; 
}

