<ion-content [fullscreen]="true">
<div class="flex flex-col justify-between items-center py-5 w-full h-full">
  <div class="text-black text-3xl font-semibold">All Done!</div>
<ng-lottie [options]="options" ></ng-lottie>
<div class="text-black text-3xl font-semibold">Order Placed Successfully!</div>
<div class="text-black text-xl font-semibold">Order Id: {{orderId}}</div>


<ion-button class="w-11/12 text-lg text-black font-medium custom-btn normal-case mt-16" expand="block" (click)="goToHome()">Go to Home</ion-button>
</div>


</ion-content>